
.flex-container{
  display: flex;
  justify-content: space-around;
}

.inner-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.snippet-list{
  min-height: 100px;
  list-style-type: none;
}

.title{
  outline: none;
  border: none;
  width: 350px;
  font-size: larger;
  text-align: center;
}

.description{
  height: 50px;
  width: 300px;
  margin-bottom: 10px;
}

#editor{
  margin-top: 30px;
  height: 350px;
  width: 350px;
}

.snippet-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 200px;
}

.snippet-li{
  margin: 10px;
}

.under-form-buttons{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  min-width: 173px;
  margin-top: 10px;
}